body {
  background-color: #F4F4F2;
  text-align: center;
  border-top: 6px solid #CC3D33;
  margin: 0;
  padding: 0;
}

a:link:hover, a:visited:hover, a:active:hover {
    text-decoration: underline;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #CC3D33;
    font-weight: bold;
}

.container {
  width: 800px;
  margin: auto;
  margin-top: 70px;
}

.logo {
  width: 100%;
}

.search-input {
  margin-top: 50px;
  height: 32px;
  width: 260px;
  font-size: 18px;
  padding: 5px;
  border: 1px solid #DDD;
}

.snippet-container {
  margin-top: 0px;
  text-align: left;
}

.footer {
    position: relative;
    font-size: 12px;
    padding: 1em;
    margin-top: 15px;
}

.package-description {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
}

pre {
  margin: 0 !important;
}

.spinner {
  margin: 30px;
}

.no-results {
  margin-top: 30px !important;
}

.no-results img {
  width: 100px;
  height: 100px;
  margin: 30px;
}

.hilitor-highlight {
  background-color: rgba(255, 255, 140, 0.5);
  padding: 3px;
  border-radius: 3px;
  font-weight: bold;
  font-style: normal;
  color: #333;
}

.hidden {
  display: none;
}
