body {
  background-color: #F4F4F2;
  text-align: center;
  border-top: 6px solid #239F46;
  margin: 0;
  padding: 0;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  font-size: 0.8em;
}

a:link:hover, a:visited:hover, a:active:hover {
  text-decoration: underline;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #239F46;
  font-weight: bold;
}

.container {
  max-width: 800px;
  padding: 10px;
  margin: auto;
  margin-top: 70px;
}

.logo {
  width: 100%;
}

.search-input {
  margin-top: 50px;
  height: 50px;
  width: 63%;
  min-width: 250px;
  font-size: 18px;
  padding: 5px 5px 5px 12px;
  border: 1px solid #DDD;
  -moz-box-sizing: border-box;
}

small.examples {
  display: block;
  min-width: 250px;
  margin: auto;
  padding: 0;
}

.snippet-container {
  margin-top: 0px;
  text-align: left;
  padding-top: 20px;
}

.footer {
    position: relative;
    font-size: 12px;
    padding: 1em;
    margin-top: 15px;
}

.package-description {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
}

.package-description:first-of-type {
  margin-top: 5px;
}

pre {
  margin: 0 !important;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}

small.result-header span{
  color: #239F46;
  font-weight: bold;
}

.pages {
  text-align: right;
  margin-top: 15px;
  margin-bottom: -15px;
}

.pages .page-button {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #239F46;
  text-align: center;
  line-height: 25px;
  background-color: #f8f8f8;
  cursor: pointer;
}

.spinner {
  margin: 30px auto 30px auto;
  display: block;
  clear: both;
}

.no-results {
  margin-top: 30px !important;
}

.no-results img {
  width: 100px;
  height: 100px;
  margin: 30px;
}

.hilitor-highlight {
  background-color: rgba(255, 255, 140, 0.5);
  padding: 3px;
  border-radius: 3px;
  font-weight: bold;
  font-style: normal;
  color: #333;
}

.hidden {
  display: none;
}
