html, body {
  font-family: "Open Sans","sans-serif";
  background-color: #F4F4F2;
}

.form-group {
  text-align: center;
}

.input-group {
  margin:auto;
}

#logo {
  width: 55%;
  margin: auto;
}

.jumbotron {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.page-header {
  color: white !important;
  text-shadow: 1px 1px 1px #000;
  border-bottom: none;
}

.page-header h1 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: -20px;
}

.dropdown-menu {
  overflow:auto;
  height: 150px;
}

/* styles for small screen */
@media (max-width: 480px) {
  .page-header h1 {
    font-size: 1em;
  }

  .page-header h2 {
    font-size: 0.6em;
  }

  .jumbotron {
    padding: 3px;
  }

}

/* styles for big screen */
@media (min-width: 480px) {
  .page-header h2,
  .page-header h1 {
    margin-top: 70px;
  }

  .main-content .dropdown {
    display: inline;
  }

  .main-content {
    margin-top: 80px;
  }
}
