<div class="container">
  <img src="img/logo.png" class="logo"/><br/>
    <form can-submit="performSearch">
      <input type="text" class="search-input" placeholder="Search Code"/>
    </form>
    <img src="img/spinner.gif" class="spinner hidden">

    <pre class="no-results hidden">We couldn't find any code matching your search phrase. Try again.<br/><img src="img/no-results.png"></pre>

    <snippet-list></snippet-list>
</div>

<div class="footer">
  Created by <a href="https://github.com/spacedock-io">Spacedock</a> with <a href="http://canjs.com/">CanJS</a>
</div>
