<div class="container">
  <img src="img/logo.png" class="logo"/><br/>
  <input type="text" class="search-input" placeholder="Search Code"/>
  {{#if snippets}}
    <snippet-list></snippet-list>
  {{/if}}
</div>
