<div class="snippet-container">
  {{#if snippets.length}}
  <small class="result-header">
    Code results found: <span class="total-number">{{snippets.total}}</span>
  </small>
  {{/if}}
  {{#each snippets}}
    <div class="package-description">
      <b>
        <a href="https://www.npmjs.org/package/{{package}}">{{package}}</a>
      </b> by
      <a href="https://www.npmjs.org/~{{author}}">{{author}}</a><br/>
      <i>{{filename}}</i>
    </div>
      {{#each content}}
      <pre><code data-language="javascript">{{.}}</code></pre>
      {{/each}}
    </div>
  {{/each}}
  <page-buttons></page-buttons>
</div>
