<div class="snippet-container">
  {{#each snippets}}
    <div class="package-description">
      <b>
        <a href="https://www.npmjs.org/package/{{package}}">{{package}}</a>
      </b> by
      <a href="https://www.npmjs.org/~{{author}}">{{author}}</a><br/>
      <i>{{filename}}</i>
    </div>
      {{#each content}}
      <pre><code data-language="javascript">{{.}}</code></pre>
      {{/each}}
    </div>
  {{/each}}
</div>
